<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

</head>

<body>
  <div class="main">
    <p class="title"> Train ticket booking system</p>
    <p>
      <a href="/login">Login</a> |
      <a href="/register">Register</a>
      </ul>
    </p>
  </div>
</body>

</html>